<head>
  <link rel="stylesheet" href="/stylesheets/adminNovedades.css">
</head>
  <body>
    


  {{!-- <h2>Hola soy {{persona}}</h2> --}}

  {{!-- Me muestra el nombre de la persona que se loguee --}}
  <div class="container flex" style="margin-top: 50 px;">
    <div class="row">
      <p class="textoBienvenido">¡Bienvenida {{persona}}!</p>
    </div>
  </div>
  {{!-- Fin fila 1 --}}

  {{!-- inicio fila 2 --}}
  <div class="row">
    <div class="offset-7 col-5 text-end">
      <a class="btn btn-success" id="nuevoBoton" href="/admin/novedades/agregar"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo</a>
    </div>
  </div>
  {{!-- fin fila 2 --}}

  {{!-- inicio fila 3 --}}

  <div class="row">
    <div class="col">


      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Título</th>
          <th scope="col">Imagen</th>
          <th scope="col" class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {{#each novedades}}
        <tr>
          <th scope="row">{{id}}</th>
          <td>{{titulo}}</td>
          <td>{{{imagen}}}</td>
          <td class="text-center">
            <a href="/admin/novedades/modificar/{{id}}" class="btn btn-sm btn-secondary" id="modificarBoton"><i class="fa fa-pencil"></i></a>
            <a href="/admin/novedades/eliminar/{{id}}" class="btn btn-sm btn-secondary" id="eliminarBoton"><i class="fa fa-trash"></i></a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <div class="row">
        <div class="offset-10 col-2 text-end"> 
          <a class="btn btn-danger" id="cerrarSesionBoton" href="/admin/login/logout">Cerrar sesión <i class="fas fa-sign-out-alt"></i></a>
        </div>
      </div>
    </div>
  </div>
 </body>
